<header class="wrapper"> 
<!-- Site Title Social Media -->         
<div class="container"> 	
	<div class="site-title"> 
		<h1> <span> Department of </span> Forensic & Investigative Science </h1> 
	</div> 

	<div class="action-buttons"> 
		<a class="action-button" href="http://admissions.wvu.edu/apply-now"> APPLY NOW </a> 
		<a class="action-button" href="http://admissions.wvu.edu/request-info"> REQUEST INFO </a>
		<a class="action-button" href="http://admissions.wvu.edu/visit"> SCHEDULE A VISIT </a>
	</div> 
</div>
</header> 