---
layout: default
---
<r:content_for name="page_slider"> 
</r:content_for>

<r:content_for name="main"> 

<section class="main-content"> 
		<div class="container"> 
			
			<div class="page-title"> 
				<h1> <r:page:name /> </h1> 
			</div> 
				
			<div class="breadcrumb"> 
				<r:breadcrumbs ul_class="breadcrumbs" />
			</div>  
			
		</div> 
		<div class="container"> 
			
			<article class="full-content"> 
				<r:editable_region name="main_content" />
			</article> 
			
		</div> 
</section> 

</r:content_for>






